* {
  margin: 0%;
  padding: 0%;
}

body{
    margin: 0;
	font-family: 'Lucida Sans';
	min-height: 100vh;
}

.container-flex {
    display: flex;
	flex-direction: column;
    align-items: center;
}

/* LOGIN */
.block-container{
    display: flex;
	flex-direction: column;
    align-items: center;
    /* box-sizing: border-box */
    /* background: #1b1c1c; */
}

.logo {
    /* height: 90vh; */
    height: 600px;
    width: auto;
    margin: 0px 0px 0px 10px;
}

.login-input{
    display: block;
    background: #d8dfc5;
    margin: 12px auto;
    height: 15px;
    padding: 10px 35px;
    border-radius: 15px;
}

.button {
    background: #50C45F;
    color: #243010;
    display: inline-block;
    padding: 9px 50px;
    text-align: center;
    box-shadow: 3px 3px 0px green; 
    border-radius: 15px;
    margin-left: auto;
    
}

.titulo{
    display: block;
    margin: auto;
    padding: 20px;
    height:100px;
    width:200px;
}

.block-login{
    text-align: center;
    /* margin: 10px 0px 10px 0px; */
    padding: 15px 30px;
    background: #acc864;
    border-radius: 15px;
}

.text{
    margin: 25px 50px 25px 50px;
    text-align: center;
    color:  #1b1c1c;
}

.error-message {
    color: red;
}

.icon-social{
    width: 50px;
	height: auto;
    border: none;
}

/* HOME */
main{
    background-image: url(./img/fondo1.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.container-home{
   /*  display: flex;
	flex-direction: column;
    align-items: flex-start;
    /* background-image: url(./img/fondo-page.jpg); */
    margin: 20px 20px auto;
    border-radius: 15px;
   
    /* margin: 20px 20px auto; */ 
    background: #acc864;
}

.hidden {
    display : none;
  }
  
.shower{
    display: block;
  } 

.menu{
    background:#50C45F;
    /* margin: 20px; */
    padding: 15px;
    border-radius: 15px;
    /* text-align: center; */
}

.menu-items{
    display: inline-block;
    padding: 15px;
    color: #243010;
    text-decoration: none;
}

.menu-items:hover{
    color: #F3F9D2;
}

.menu-menu{
    display: inline-block;
    padding: 15px;
    color: #243010;
    text-decoration: none;
}

.icon-menu{
    width: 15px;
    height: auto;
    margin: 0px 0px 0px 350px;
}
.form-post{
    background-color: #d8dfc5;
    flex-direction: column;
    align-items: start;
    width: 350px;
    border-radius: 5px;
}
.container-btn {
    display: flex;
    margin: 2%;
}
.block-home{
    /* width: 70%;
    margin: auto;
    height: auto; */
    margin: 50px;
    /* display: flex;
    flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-items: start; */
    background-color: hsla(96, 96%, 22%, 0.3);
    border-radius: 15px;
    height: auto; 
    /* margin: 100px ; */
    /* align-items: center; */
    
  }
.prueba {
    background: red;
}

.block-profile{
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 30px 60px 30px 60px;
    /* border-radius: 15px; */
    border: 1px solid #243010;
    background: #50C45F;
    align-items: center;
    margin-bottom: auto;
  }

.profile-logo{
    float: left;
    margin: 10px; 
    height: 100px;
    width: 100px;
    border-radius: 25px;
}
.select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 120px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   
   background-color: #b1b625;
}
.select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 130px;
 }

.share-post{
    /* border: 3px solid #243010; */
    /* padding: 0px 15px; */
    /* margin: 90px 70px 10px 90px; */
    /* width: 450px; */
    /* border-radius: 15px; */
    /* ------------- */
    border: 1px solid #1a3f13;
    resize: none;
    text-align: justify;
    
    text-align-last: center;
    width: 94%;
    margin: 3%;
    border-radius: 5px;
    text-align: center;

}

.block-post{
    display: block;
    text-align: center;
    margin: 3% 0% 0% 0%;
}

h3{
    text-align: justify;
}

.user-post{
    /* margin: 10px 50px 10px 0px; */
    padding: 10px;
    color: white;
    display: block;
    border: 3px solid #243010;
    border-bottom-style: none;
    background: #50C45F;
    /* background: #2274A5; */
}
.post-post{
   
    border: 3px solid #1a3f13;
    background: #dce29f;
    width: 350px;
    height: 88px;
}


.icon-post{
    width: 20px;
    height: auto;
    /* margin: 10px 10px 10px 10px; */
}

.comment{
    display: block;
    width: 350px;
    height: 50px;
    margin: 10px 10px 10px 50px;
    color: #F3F9D2;
    text-align: center;
    /* border: 3px solid #F3F9D2; */
    border-radius: 10px;
    background: #243010;
}

form {
    margin: 0px 0px 0px 90px;
}
.imput-comment{
    border-radius: 15px 50px 30px;
    width: 160px;
    height: 35px;
    text-align: center;
}
 
@media screen and (min-width: 800px) {
    .block-container {
      flex-direction: row;
      justify-content: space-evenly;
      min-height: 100vh;
    }
    .block-post{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-home{
      flex-direction: row;
      justify-content: space-evenly;
      min-height: 100vh;
    }

    /* .block-profile{
        flex-direction: column;
        justify-content: space-evenly;
        /* min-height: 100vh; */
    /* } */

    /* .block-home{
        flex-direction: column;
        justify-content: space-evenly;
    } */ 


    .block-home{
     
        display: flex;
        flex-direction: row;
        align-items: center;
        
      }
} 
